<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "nav.html" . }}



    <div class="container my-3 py-5">

        <div class="author mb-3">
            <img src="{{ .Params.avatar }}" alt="">
            <span class="name-author py-3">{{ .Params.Author }} •</span>
            <span class="date"> {{.Date | time.Format ":date_medium"}} </span>
            <div class="content py-5">
                {{ .Content }}
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}
</body>

</html>