/* universal */
@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito/Nunito-Regular.ttf);
}


@font-face {
    font-family: "Nunito-Bold";
    src: url(/assets/fonts/Nunito/Nunito-Bold.ttf);
}


body {
    font-family: "Nunito";
    font-size: 18px;

}




/* navbar */
.navbar .nav-link {
    font-family: "Nunito-Bold";
    text-transform: uppercase;
    font-size: 0.8em;
}










/* post grid */
.post-grid {
    margin: 20px 0;
}


.post-grid li {
    margin: 15px 0;
}


.post-grid ul li {
    list-style: none;
}


.post-grid a {
    text-decoration: none;
    color: rgb(70, 70, 70);
}


.post-grid a:hover {
    color: rgb(25, 226, 142);
}


.post-grid span {
    font-size: 0.8em;
}